<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THIS IS MA AWESOME WEBPAGE</title>
</head>
<body>
<h1>Super Sprinter 3000</h1>
<table>
    <thead>
    <tr>
        {% for header in table_headers %}
            <th>
                {{ header }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user_story in user_stories %}
    <tr>
        {% for key in user_story_keys %}
                {{ user_story[key] }}
        {% endfor %}
    </tr>

    </tbody>
</table>
</body>
</html>